<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <h1>Pictures</h1>

    <table class="home">

      <tbody>
        <% @pictures.each do |picture| %>
          <th>投稿者：<%= picture.user.name %></th>
          <tr>
            <td class="text"><%= picture.content %></td>
          </tr>
          <tr>
            <td><%= image_tag(picture.image.url) %></td>
          </tr>
          <tr>
            <td class="controll"><%= link_to 'Show', picture %>/<%= link_to 'Edit', edit_picture_path(picture) %>/<%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="new_button btn-primary btn">
  <%= link_to 'New Picture', new_picture_path, :style=>"color:white;" %>
</div>
