<div class="container">
  <div class="row">

    <div class="home">
      <p id="notice"><%= notice %></p>
      <p>
        <strong><%= @picture.content %></strong>
        <%= image_tag @picture.image.url %>
      </p>
    </div>
    <div class="controll">
      <%= link_to 'Edit', edit_picture_path(@picture) %> |
      <%= link_to 'Back', pictures_path %>
    </div>
  </div>
</div>
